USE [Yara-DEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CalcularJurosSimples]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Paganuchi
-- Create date: 2017-11-20
-- Description:	Calcular Juros Simples
-- =============================================
CREATE Function [dbo].[CalcularJurosSimples] 
(
	@TaxaJuros decimal(18,9),
	@ValorPrincipal decimal(18,9),
	@DataVencimento datetime,
	@DataPagamento datetime
)
RETURNS decimal(18,9)
AS
BEGIN
	
	DECLARE @Result decimal(18,9)
	DECLARE @DataVencimentoSemHora datetime
	DECLARE @DataPagamentoSemHora datetime
	DECLARE @DiasProRata int
	DECLARE @JurosProRata decimal(18,9)

	Set @DataVencimentoSemHora = DATEADD(dd, DATEDIFF(dd, 0, @DataVencimento), 0)
	Set @DataPagamentoSemHora = DATEADD(dd, DATEDIFF(dd, 0, @DataPagamento), 0)

	Set @DiasProRata = DATEDIFF(DAY,@DataVencimentoSemHora,@DataPagamentoSemHora)

	If @DiasProRata < 0
	Begin

		Set @Result = 0
	
	End
	Else
	Begin

		Set @JurosProRata = (@TaxaJuros / 3000) * @DiasProRata

		Set @Result = @ValorPrincipal * @JurosProRata

	End

	RETURN @Result

END
GO
/****** Object:  UserDefinedFunction [dbo].[CambioDiaAnterior]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		André Paganuchi
-- Create date: 2017-11-20
-- Description:	Buscar PTAX D-1
-- =============================================
CREATE Function [dbo].[CambioDiaAnterior] 
(
	@Moeda varchar(5),
	@DataReferencia datetime
)
RETURNS decimal(18,9)
AS
BEGIN

	Declare @DataReferenciaSemHora datetime

	Set @DataReferenciaSemHora = DATEADD(dd, DATEDIFF(dd, 0, @DataReferencia), 0)
	
	DECLARE @Result decimal(18,9)

	Select Top 1 @Result = Abs(Taxa)
	From Cambio C
	Where C.MoedaDe = 'BRL'
	And C.MoedaPara = @Moeda
	And C.InicioValidade < @DataReferenciaSemHora
	Order By InicioValidade Desc

	If @Result is Null
	Begin
		Set @Result = 1
	End

	RETURN @Result

END
GO
/****** Object:  UserDefinedFunction [dbo].[ExposicaoContaCliente]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[ExposicaoContaCliente]
(
	@ContaClienteID uniqueidentifier,
	@EmpresaID char(1)
)
RETURNS decimal(18,2)
AS
BEGIN

	-- Variáveis
	DECLARE @StatusCobrancaPadrao uniqueidentifier
	DECLARE @ExposicaoOrdens decimal(18,2)
	DECLARE @ExposicaoTitulos decimal(18,2)
	DECLARE @ExposicaoRemessas decimal(18,2)
	DECLARE @ExposicaoVendaOrdem decimal(18,2)
	DECLARE @ExposicaoExportacao decimal(18,2)
	DECLARE @ExposicaoTotal decimal(18,2)
	DECLARE @ParametroCondicaoVista varchar(max)
	DECLARE @ParametroTiposOrdensExposicao varchar(max)
	DECLARE @ParametroTiposTitulosExposicao varchar(max)

	-- Parametros
	SELECT TOP 1 @ParametroCondicaoVista = Valor FROM ParametroSistema WHERE Tipo = 'ordem' AND Chave = 'condicaovista' AND EmpresasID = @EmpresaID         
	SELECT TOP 1 @ParametroTiposOrdensExposicao = Valor FROM ParametroSistema WHERE Tipo = 'exposicao' AND Chave = 'tiposordem' AND EmpresasID = @EmpresaID
	SELECT TOP 1 @ParametroTiposTitulosExposicao=Upper(Valor) FROM ParametroSistema WHERE Tipo='exposicao' And Chave='tipostitulo' And EmpresasID = @EmpresaID

	Select Top 1 @StatusCobrancaPadrao=ID
	From StatusCobranca
	Where Padrao = 1

			Select @ExposicaoTitulos=IsNull(Sum(T.ValorInterno),0)
			From Titulo T
			Inner Join ContaClienteCodigo CCC On (CCC.Codigo = T.CodigoCliente)
			Inner Join StatusCobranca SC On (SC.ID = IsNull(T.StatusCobrancaID,@StatusCobrancaPadrao))
			Where T.Empresa = IIF(@EmpresaID='Y','TRV','GICS')
			And T.TipoDocumento in (Select splitdata From dbo.fnSplitString(@ParametroTiposTitulosExposicao, ','))
			And T.CreditoDebito = 'S'
			And T.Aberto = 1
			And SC.ContaExposicao = 1
			And CCC.ContaClienteID = @ContaClienteID

			-- Ordens de Venda (Divisoes de Remessa)
			Select @ExposicaoOrdens=IsNull(Sum(IsNull(((DR.QtdPedida-DR.QtdEntregue)*I.ValorUnitario),0)),0)
			From DivisaoRemessa DR
			Inner Join ItemOrdemVenda I On I.OrdemVendaNumero = DR.OrdemVendaNumero And I.Item = DR.ItemOrdemVendaItem
			Inner Join OrdemVenda OV On OV.Numero = I.OrdemVendaNumero
			Inner Join ContaClienteCodigo CCC On (CCC.Codigo = OV.Pagador)
			Where DR.QtdEntregue < DR.QtdPedida
			And Case When RTrim(I.CondPagto) = '' Then OV.CondPagto Else I.CondPagto End not in (Select splitdata From dbo.fnSplitString(@ParametroCondicaoVista, ','))
			And IsNull(I.MotivoRecusa,'') = ''
			And OV.Tipo in (Select splitdata From dbo.fnSplitString(@ParametroTiposOrdensExposicao, ','))
			And DR.BloqueioPortal in ('LM','OL')
			And CCC.ContaClienteID = @ContaClienteID
			And (
				(@EmpresaID = 'Y' And ov.OrgVendas in ('YBR1','YBR2','YBR3')) OR
				(@EmpresaID = 'G' And ov.OrgVendas in ('YGA1','YGA2','YGA3'))
				)
				
			-- Remessas (Deliveries)
			Select @ExposicaoRemessas=IsNull(Sum(IsNull(I.QtdDelivery*I.ValorUnitario,0)),0)
			From ItemOrdemVenda I
			Inner Join OrdemVenda OV On OV.Numero = I.OrdemVendaNumero
			Inner Join ContaClienteCodigo CCC On (CCC.Codigo = OV.Pagador)
			Where (I.QtdDelivery > 0)
 			And Case When RTrim(I.CondPagto) = '' Then OV.CondPagto Else I.CondPagto End not in (Select splitdata From dbo.fnSplitString(@ParametroCondicaoVista, ','))
			And IsNull(I.MotivoRecusa,'') = ''
			And OV.Tipo in (Select splitdata From dbo.fnSplitString(@ParametroTiposOrdensExposicao, ','))
			And CCC.ContaClienteID = @ContaClienteID
			And (
				(@EmpresaID = 'Y' And ov.OrgVendas in ('YBR1','YBR2','YBR3')) OR
				(@EmpresaID = 'G' And ov.OrgVendas in ('YGA1','YGA2','YGA3'))
				)

			-- Venda Ordem
			Select @ExposicaoVendaOrdem=IsNull(Sum(IsNull(I.QtdVendaOrdem*I.ValorUnitario,0)),0)
			From ItemOrdemVenda I
			Inner Join OrdemVenda OV On OV.Numero = I.OrdemVendaNumero
			Inner Join ContaClienteCodigo CCC On (CCC.Codigo = OV.Pagador)
			Where (I.QtdVendaOrdem > 0)
 			And Case When RTrim(I.CondPagto) = '' Then OV.CondPagto Else I.CondPagto End not in (Select splitdata From dbo.fnSplitString(@ParametroCondicaoVista, ','))
			And IsNull(I.MotivoRecusa,'') = ''
			And OV.Tipo in (Select splitdata From dbo.fnSplitString(@ParametroTiposOrdensExposicao, ','))
			And CCC.ContaClienteID = @ContaClienteID
			And (
				(@EmpresaID = 'Y' And ov.OrgVendas in ('YBR1','YBR2','YBR3')) OR
				(@EmpresaID = 'G' And ov.OrgVendas in ('YGA1','YGA2','YGA3'))
				)

			-- Exportacao
			Select @ExposicaoExportacao=IsNull(Sum(IsNull(I.QtdExportacao*I.ValorUnitario,0)),0)
			From ItemOrdemVenda I
			Inner Join OrdemVenda OV On OV.Numero = I.OrdemVendaNumero
			Inner Join ContaClienteCodigo CCC On (CCC.Codigo = OV.Pagador)
			Where (I.QtdExportacao > 0)
 			And Case When RTrim(I.CondPagto) = '' Then OV.CondPagto Else I.CondPagto End not in (Select splitdata From dbo.fnSplitString(@ParametroCondicaoVista, ','))
			And IsNull(I.MotivoRecusa,'') = ''
			And OV.Tipo in (Select splitdata From dbo.fnSplitString(@ParametroTiposOrdensExposicao, ','))
			And CCC.ContaClienteID = @ContaClienteID
			And (
				(@EmpresaID = 'Y' And ov.OrgVendas in ('YBR1','YBR2','YBR3')) OR
				(@EmpresaID = 'G' And ov.OrgVendas in ('YGA1','YGA2','YGA3'))
				)

	Set @ExposicaoTotal = @ExposicaoTitulos + @ExposicaoOrdens + @ExposicaoRemessas + @ExposicaoVendaOrdem + @ExposicaoExportacao

	RETURN @ExposicaoTotal

END
GO
/****** Object:  UserDefinedFunction [dbo].[FaixaVencimentoTitulo]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Function [dbo].[FaixaVencimentoTitulo]
(
	@Dias int
)
RETURNS varchar(20)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Aging varchar(20)

	Set @Dias = Abs(@Dias)

	If @Dias <= 10
	Begin
		Set @Aging = '1 - 10 dias'
	End
	Else If @Dias <= 30
	Begin
		Set @Aging = '11 - 30 dias'
	End
	Else If @Dias <= 60
	Begin
		Set @Aging = '31 - 60 dias'
	End
	Else If @Dias <= 90
	Begin
		Set @Aging = '61 - 90 dias'
	End
	Else If @Dias <= 180
	Begin
		Set @Aging = '91 - 180 dias'
	End
	Else
	Begin
		Set @Aging = '> 180 dias'
	End

	RETURN @Aging

END
GO
/****** Object:  UserDefinedFunction [dbo].[fnSplitString]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fnSplitString] 
( 
    @string NVARCHAR(MAX), 
    @delimiter CHAR(1) 
) 
RETURNS @output TABLE(splitdata NVARCHAR(MAX) 
) 
BEGIN 
    DECLARE @start INT, @end INT 
    SELECT @start = 1, @end = CHARINDEX(@delimiter, @string) 
    WHILE @start < LEN(@string) + 1 BEGIN 
        IF @end = 0  
            SET @end = LEN(@string) + 1
       
        INSERT INTO @output (splitdata)  
        VALUES(SUBSTRING(@string, @start, @end - @start)) 
        SET @start = @end + 1 
        SET @end = CHARINDEX(@delimiter, @string, @start)
        
    END 
    RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnTodosTitulosComentarios]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[fnTodosTitulosComentarios]()
RETURNS 
@Retorno TABLE 
(
	NumeroDocumento VARCHAR(10),
	Linha VARCHAR(3),
	AnoExercicio INT,
	Empresa VARCHAR(3),
	TodosComentarios VARCHAR(MAX)	
)
AS
BEGIN
	DECLARE @NumeroDocumento VARCHAR(10), @Linha VARCHAR(3), @AnoExercicio INT, @Empresa VARCHAR(3), @Texto VARCHAR(MAX)
	DECLARE @TodosComentarios VARCHAR(MAX)

	DECLARE cur_Titulos CURSOR FOR SELECT NumeroDocumento, Linha, AnoExercicio, Empresa FROM TituloComentario WITH(NOLOCK) GROUP BY NumeroDocumento, Linha, AnoExercicio, Empresa ORDER BY NumeroDocumento, Linha, AnoExercicio, Empresa
	OPEN cur_Titulos

	FETCH NEXT FROM cur_Titulos
	INTO @NumeroDocumento, @Linha, @AnoExercicio, @Empresa

	WHILE (@@FETCH_STATUS=0)
	BEGIN
		SET @TodosComentarios = ''

		DECLARE cur_Comentarios CURSOR FOR SELECT Texto FROM TituloComentario WITH(NOLOCK) WHERE NumeroDocumento = @NumeroDocumento AND Linha = @Linha AND AnoExercicio = @AnoExercicio AND Empresa = @Empresa ORDER BY DataCriacao ASC

		OPEN cur_Comentarios

		FETCH NEXT FROM cur_Comentarios
		INTO @Texto

		WHILE (@@FETCH_STATUS=0)
		BEGIN
			IF (@TodosComentarios <> '')
			BEGIN
				SET @TodosComentarios = @TodosComentarios + '; '
			END

			SET @TodosComentarios = @TodosComentarios + @Texto

			FETCH NEXT FROM cur_Comentarios
			INTO @Texto
		END

		INSERT INTO @Retorno VALUES (@NumeroDocumento, @Linha, @AnoExercicio, @Empresa, @TodosComentarios)

		CLOSE cur_Comentarios
		DEALLOCATE cur_Comentarios

		FETCH NEXT FROM cur_Titulos INTO @NumeroDocumento, @Linha, @AnoExercicio, @Empresa
	END

	CLOSE cur_Titulos
	DEALLOCATE cur_Titulos

	RETURN
END

GO
/****** Object:  UserDefinedFunction [dbo].[LeadtimeDatePropostaLC]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sidnei Cachate (PerformaIT)
-- Create date: 2022-02-22
-- Description:	Calcular Leadtime Proposta LC
-- Params:
--		@PropostaLCID [ID da Proposta LC]
--		@Periodo [0 Inicial (default), 1 Final]
-- =============================================
CREATE FUNCTION [dbo].[LeadtimeDatePropostaLC] 
(
	@PropostaLCID uniqueidentifier,
	@Periodo int = 0
)
RETURNS DateTime2
AS
BEGIN

	Declare @PeriodoPreAnalise datetime, @PeriodoAnalise datetime, @PeriodoConsiderar datetime, @PeriodoComercial datetime, @PeriodoInicio datetime, @PeriodoTermino datetime, @PeriodoAprovacao datetime
	Declare @diasFimDeSemana int, @diasFeriado int, @diasLeadtime int, @Grupo int
	declare @StatusLC nvarchar(2), @StatusPesquisa nvarchar(50)

	-- Pega o Status atual da Proposta LC
	Select
		@StatusLC = PropostaLCStatusID
	From PropostaLC
	Where ID = @PropostaLCID

	-- Ultimo Envio para Pre Analise
	Select Top 1 @PeriodoPreAnalise = PLCH.DataCriacao
	From PropostaLCHistorico PLCH
	Where PLCH.PropostaLCID = @PropostaLCID
	And PLCH.PropostaLCStatusID = 'FA'
	Order By PLCH.DataCriacao Desc

	-- Ultimo Envio para Analise
	Select Top 1 @PeriodoAnalise = PLCH.DataCriacao
	From PropostaLCHistorico PLCH
	Where PLCH.PropostaLCID = @PropostaLCID
	And PLCH.PropostaLCStatusID = 'FE'
	Order By PLCH.DataCriacao Desc

	-- Ultimo Status do Comercial
	Select Top 1 @PeriodoComercial = PLCH.DataCriacao
	From PropostaLCHistorico PLCH
	Where PLCH.PropostaLCID = @PropostaLCID
	And PLCH.PropostaLCStatusID  in ('CA','CP','EC','XC','RP')
	Order By PLCH.DataCriacao Desc

	-- Verificar qual data considerar (Pre analise ou Analise)
	If (@PeriodoPreAnalise Is Null And @PeriodoAnalise Is Null)
	Begin
		
		Set @PeriodoInicio = Null

	End
	
	If (@PeriodoPreAnalise Is Not Null And @PeriodoPreAnalise > @PeriodoAnalise) Or (@PeriodoAnalise Is Null)
	Begin

		Set @PeriodoConsiderar = @PeriodoPreAnalise

	End
	Else
	Begin
		
		Set @PeriodoConsiderar = @PeriodoAnalise

	End

	-- Calcula datas das atendidas
	If (@StatusLC In ('AA','AP','AG','WA','XR','XE'))
	Begin

		Set @StatusPesquisa = @StatusLC

		If (SubString(@StatusPesquisa, 1, 1) = 'A')
		Begin
			
			Set @StatusPesquisa = 'AA, AP, AG'

		End
			
		Set @PeriodoInicio = @PeriodoPreAnalise

		If (@StatusLC = 'WA')
		Begin
			
			Set @PeriodoTermino = GetDate()
		
		End
		Else
		Begin
			
			Select Top 1 @PeriodoTermino = PLCH.DataCriacao
			From PropostaLCHistorico PLCH
			Where PLCH.PropostaLCID = @PropostaLCID
			And @StatusPesquisa Like '%' + PLCH.PropostaLCStatusID + '%'
			And PLCH.DataCriacao >= @PeriodoInicio
			Order By PLCH.DataCriacao Desc

		End

		If (@PeriodoTermino Is Null)
		Begin

			Select Top 1 @PeriodoTermino = PLCH.DataCriacao
			From PropostaLCHistorico PLCH
			Where PLCH.PropostaLCID = @PropostaLCID
			And PLCH.Descricao Like '%_prova%'
			And PLCH.DataCriacao >= @PeriodoInicio
			Order By PLCH.DataCriacao Desc

		End

		If (@PeriodoTermino Is Null)
		Begin

			Set @PeriodoTermino = GetDate()

		End

		-- Quando encerada verifica se houve aprovacao no meio do caminho
		If (@StatusLC = 'XE')
		Begin

			Set @StatusPesquisa = 'AA, AP, AG'

			Select Top 1 @PeriodoAprovacao = PLCH.DataCriacao
			From PropostaLCHistorico PLCH
			Where PLCH.PropostaLCID = @PropostaLCID
			And @StatusPesquisa LIKE '%' + PLCH.PropostaLCStatusID + '%'
			And PLCH.DataCriacao between @PeriodoInicio and @PeriodoTermino
			Order By PLCH.DataCriacao Desc

			if (@PeriodoAprovacao Is Null)
			Begin

				Set @PeriodoInicio = Null -- Seta null para nao calcular o leadtime

			End
			Else
			Begin
				
				Set @PeriodoTermino = @PeriodoAprovacao

			End

		End

	End
	Else
	Begin
		-- Calcula datas das que continuam em atendimento
		If (@StatusLC In ('FA','FP','FE','FF','FC'))
		Begin

			Set @PeriodoInicio = @PeriodoPreAnalise
			Set @PeriodoTermino = GetDate()

		End
		Else
		Begin
			If (@statuslc In ('CA','CP','RP'))
			Begin

				Set @PeriodoInicio = @PeriodoComercial
				Set @PeriodoTermino = GetDate()

			End
			Else
			Begin

				Set @PeriodoInicio = null
				Set @PeriodoTermino = null

			End

		End

	End

	Return Convert(date, Iif(@Periodo = 0, @PeriodoInicio, @PeriodoTermino))

END
GO
/****** Object:  UserDefinedFunction [dbo].[LeadtimeDatePropostaLCAdicional]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sidnei Cachate (PerformaIT)
-- Create date: 2022-02-22
-- Description:	Calcular Leadtime Proposta LC
-- Params:
--		@PropostaLCAdicionalID [ID da Proposta LC]
--		@Periodo [0 Inicial (default), 1 Final]
-- =============================================
CREATE FUNCTION [dbo].[LeadtimeDatePropostaLCAdicional] 
(
	@PropostaLCAdicionalID uniqueidentifier,
	@Periodo int = 0
)
RETURNS DateTime2
AS
BEGIN

	Declare @PeriodoPreAnalise datetime, @PeriodoAnalise datetime, @PeriodoConsiderar datetime, @PeriodoComercial datetime, @PeriodoInicio datetime, @PeriodoTermino datetime, @PeriodoAprovacao datetime
	Declare @diasFimDeSemana int, @diasFeriado int, @diasLeadtime int, @Grupo int
	declare @StatusLC nvarchar(2), @StatusPesquisa nvarchar(50)

	-- Pega o Status atual da Proposta LC
	Select
		@StatusLC = PropostaLCStatusID
	From PropostaLCAdicional
	Where ID = @PropostaLCAdicionalID

	-- Ultimo Envio para Pre Analise
	Select Top 1 @PeriodoPreAnalise = PLCH.DataCriacao
	From PropostaLCAdicionalHistorico PLCH
	Where PLCH.PropostaLCAdicionalID = @PropostaLCAdicionalID
	And PLCH.PropostaLCStatusID = 'FA'
	Order By PLCH.DataCriacao Desc

	-- Ultimo Envio para Analise
	Select Top 1 @PeriodoAnalise = PLCH.DataCriacao
	From PropostaLCAdicionalHistorico PLCH
	Where PLCH.PropostaLCAdicionalID = @PropostaLCAdicionalID
	And PLCH.PropostaLCStatusID = 'FE'
	Order By PLCH.DataCriacao Desc

	-- Ultimo Status do Comercial
	Select Top 1 @PeriodoComercial = PLCH.DataCriacao
	From PropostaLCAdicionalHistorico PLCH
	Where PLCH.PropostaLCAdicionalID = @PropostaLCAdicionalID
	And PLCH.PropostaLCStatusID  in ('CA','CP','EC','XC','RP')
	Order By PLCH.DataCriacao Desc

	-- Verificar qual data considerar (Pre analise ou Analise)
	If (@PeriodoPreAnalise Is Null And @PeriodoAnalise Is Null)
	Begin
		
		Set @PeriodoInicio = Null

	End
	
	If (@PeriodoPreAnalise Is Not Null And @PeriodoPreAnalise > @PeriodoAnalise) Or (@PeriodoAnalise Is Null)
	Begin

		Set @PeriodoConsiderar = @PeriodoPreAnalise

	End
	Else
	Begin
		
		Set @PeriodoConsiderar = @PeriodoAnalise

	End

	-- Calcula datas das atendidas
	If (@StatusLC In ('AA','AP','AG','WA','XR','XE'))
	Begin

		Set @StatusPesquisa = @StatusLC

		If (SubString(@StatusPesquisa, 1, 1) = 'A')
		Begin
			
			Set @StatusPesquisa = 'AA, AP, AG'

		End
			
		Set @PeriodoInicio = @PeriodoPreAnalise

		If (@StatusLC = 'WA')
		Begin
			
			Set @PeriodoTermino = GetDate()
		
		End
		Else
		Begin
			
			Select Top 1 @PeriodoTermino = PLCH.DataCriacao
			From PropostaLCAdicionalHistorico PLCH
			Where PLCH.PropostaLCAdicionalID = @PropostaLCAdicionalID
			And @StatusPesquisa Like '%' + PLCH.PropostaLCStatusID + '%'
			And PLCH.DataCriacao >= @PeriodoInicio
			Order By PLCH.DataCriacao Desc

		End

		If (@PeriodoTermino Is Null)
		Begin

			Select Top 1 @PeriodoTermino = PLCH.DataCriacao
			From PropostaLCAdicionalHistorico PLCH
			Where PLCH.PropostaLCAdicionalID = @PropostaLCAdicionalID
			And PLCH.Descricao Like '%_prova%'
			And PLCH.DataCriacao >= @PeriodoInicio
			Order By PLCH.DataCriacao Desc

		End

		If (@PeriodoTermino Is Null)
		Begin

			Set @PeriodoTermino = GetDate()

		End

		-- Quando encerada verifica se houve aprovacao no meio do caminho
		If (@StatusLC = 'XE')
		Begin

			Set @StatusPesquisa = 'AA, AP, AG'

			Select Top 1 @PeriodoAprovacao = PLCH.DataCriacao
			From PropostaLCAdicionalHistorico PLCH
			Where PLCH.PropostaLCAdicionalID = @PropostaLCAdicionalID
			And @StatusPesquisa LIKE '%' + PLCH.PropostaLCStatusID + '%'
			And PLCH.DataCriacao between @PeriodoInicio and @PeriodoTermino
			Order By PLCH.DataCriacao Desc

			if (@PeriodoAprovacao Is Null)
			Begin

				Set @PeriodoInicio = Null -- Seta null para nao calcular o leadtime

			End
			Else
			Begin
				
				Set @PeriodoTermino = @PeriodoAprovacao

			End

		End

	End
	Else
	Begin
		-- Calcula datas das que continuam em atendimento
		If (@StatusLC In ('FA','FP','FE','FF','FC'))
		Begin

			Set @PeriodoInicio = @PeriodoPreAnalise
			Set @PeriodoTermino = GetDate()

		End
		Else
		Begin
			If (@statuslc In ('CA','CP','RP'))
			Begin

				Set @PeriodoInicio = @PeriodoComercial
				Set @PeriodoTermino = GetDate()

			End
			Else
			Begin

				Set @PeriodoInicio = null
				Set @PeriodoTermino = null

			End

		End

	End

	Return Convert(date, Iif(@Periodo = 0, @PeriodoInicio, @PeriodoTermino))

END
GO
/****** Object:  UserDefinedFunction [dbo].[LeadtimePropostaLC]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Paganuchi (PerformaIT)
-- Create date: 2017-12-26
-- Update date: 2022-06-30 (Sinei)
-- Description:	Calcular Leadtime Proposta LC
-- =============================================
CREATE FUNCTION [dbo].[LeadtimePropostaLC] 
(
	@PropostaLCID uniqueidentifier
)
RETURNS int
AS
BEGIN
	
	Declare  @dataInicio datetime, @dataTermino datetime
	Declare @diasFimDeSemana int, @diasFeriado int, @diasLeadtime int

	Set @dataInicio = [dbo].[LeadtimeDatePropostaLC](@PropostaLCID, 0)
	Set @dataTermino = [dbo].[LeadtimeDatePropostaLC](@PropostaLCID ,1)

	-- Calcular Lead Time
	Set @diasLeadtime = DATEDIFF(DAY, @dataInicio, @dataTermino)

	-- Fins de Semana
	Set @diasFimDeSemana = DATEDIFF(WK, @dataInicio, @dataTermino) * 2 - Case When DATEPART(DW, @dataInicio) = 1 Then 1 Else 0 End + Case When DATEPART(DW, @dataTermino) = 1 Then 1 Else 0 End

	-- Feriados
	Select @diasFeriado = Count(1) From Feriado Where Ativo = 1 And DataFeriado Between @dataInicio And @dataTermino

	Return IsNull(@diasLeadtime, 0) - IsNull(@diasFimDeSemana, 0) - IsNull(@diasFeriado, 0)

END
GO
/****** Object:  UserDefinedFunction [dbo].[LeadtimePropostaLCAdicional]    Script Date: 04/07/2022 12:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Paganuchi (PerformaIT)
-- Create date: 2017-12-26
-- Update date: 2022-06-30 (Sinei)
-- Description:	Calcular Leadtime Proposta LC
-- =============================================
CREATE FUNCTION [dbo].[LeadtimePropostaLCAdicional] 
(
	@PropostaLCAdicionalID uniqueidentifier
)
RETURNS int
AS
BEGIN

	Declare  @dataInicio datetime, @dataTermino datetime
	Declare @diasFimDeSemana int, @diasFeriado int, @diasLeadtime int

	Set @dataInicio = [dbo].[LeadtimeDatePropostaLCAdicional](@PropostaLCAdicionalID, 0)
	Set @dataTermino = [dbo].[LeadtimeDatePropostaLCAdicional](@PropostaLCAdicionalID ,1)

	-- Calcular Lead Time
	Set @diasLeadtime = DATEDIFF(DAY, @dataInicio, @dataTermino)

	-- Fins de Semana
	Set @diasFimDeSemana = DATEDIFF(WK, @dataInicio, @dataTermino) * 2 - Case When DATEPART(DW, @dataInicio) = 1 Then 1 Else 0 End + Case When DATEPART(DW, @dataTermino) = 1 Then 1 Else 0 End

	-- Feriados
	Select @diasFeriado = Count(1) From Feriado Where Ativo = 1 And DataFeriado Between @dataInicio And @dataTermino

	Return IsNull(@diasLeadtime, 0) - IsNull(@diasFimDeSemana, 0) - IsNull(@diasFeriado, 0)

END
GO
