<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/YaraLogAPI.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="15" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
      </layout>
      <preserveLogFileNameExtension value="true" />
    </appender>
    <logger name="YaraLog">
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>

  <appSettings>

    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />

    <add key="AuthorizationEndpointUrl" value="https://login.salesforce.com/services/oauth2/authorize" />
    <add key="TokenEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="UserInfoEndpointUrl" value="https://login.salesforce.com/services/oauth2/userinfo" />

    <add key="AuthorizationEndpointUrlPartner" value="https://yara.force.com/partner/services/oauth2/authorize" />
    <add key="TokenEndpointUrlPartner" value="https://yara.force.com/partner/services/oauth2/token" />
    <add key="UserInfoEndpointUrlPartner" value="https://yara.force.com/partner/services/oauth2/userinfo" />

    <add key="ConsumerKey" value="3MVG9szVa2RxsqBb7ll06qF0UKV5X9s9Ob46TQbpoqkQ8vLeVlYtfYRvLkeOME5CW4BCzhjL78sJrvjrXRkPT" />
    <add key="ConsumerSecret" value="4275736811497930106" />
    <add key="CallbackUrl" value="https://portalcc.yarabrasil.com.br/#/login" />

    <add key="DomainAD" value="performait.net" />
    <add key="DomainAD2" value="performait.net" />
    <add key="DomainLocal" value="" />

	<!-- Serasa PRD - Paga por consulta -->
    <!--<add key="URLSerasa" value="https://sitenet43-2.serasa.com.br/Prod/consultahttps?p=" />
    <add key="UsuarioSerasa" value="86436704" />
    <add key="SenhaSerasa" value="Y@raGo17" />-->

    <!--<add key="URLSerasa_G" value="https://sitenet43-2.serasa.com.br/Prod/consultahttps?p=" />
    <add key="UsuarioSerasa_G" value="00000000" />
    <add key="SenhaSerasa_G" value="00000000" />-->

	<!-- Serasa Homologação -->
    <add key="URLSerasa" value="https://mqlinuxext-2.serasa.com.br/Homologa/consultahttps?p=" />
    <add key="UsuarioSerasa" value="00000000" />
    <add key="SenhaSerasa" value="00000000" />

    <add key="URLSerasa_G" value="https://mqlinuxext-2.serasa.com.br/Homologa/consultahttps?p=" />
    <add key="UsuarioSerasa_G" value="00000000" />
    <add key="SenhaSerasa_G" value="00000000" />

    <!-- Bucket Amazon -->
    <add key="AmazonAcessKey" value="AKIAQFYPGWUK3XJZ567O" />
    <add key="AmazonSecretKey" value="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" />
    <add key="AmazonRegion" value="sa-east-1" />
    <add key="BucketName" value="yara-historico-dev" />

    <add key="URL_cockpit_portal" value="http://localhost:4200/#/cockpit" />
    <add key="URL_cadastroCliente_portal" value="http://localhost:4200/#/conta-cliente/detalhe/" />
  </appSettings>

  <connectionStrings>
    <!--<add name="YaraConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=Yara_PortalCC;Persist Security Info=True;User ID=sa;Password=123" />-->
    <!--    <add name="YaraConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-1EG0V295\CAMILA;Initial Catalog=Yara_PortalCC;Persist Security Info=True;User ID=sa;Password=123" />  -->
    <add name="YaraConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=10.10.1.10;Initial Catalog=Yara-DEV;Persist Security Info=True;User ID=performa;Password=perf0rm@it" />
    <!-- <add name="YaraConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=FNORSQLDEV01.galvani.ind.br;Initial Catalog=YARA-QA;Persist Security Info=True;User ID=sqlyarausr;Password=SQLY@#ra%x!1" /> -->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" maxRequestLength="20000" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <customErrors mode="Off" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.net>
    <mailSettings>
      <!--LOCAL-->
      <smtp from="yara.portalcapex@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="smtp.gmail.com" port="587" enableSsl="false" />
        <specifiedPickupDirectory pickupDirectoryLocation="D:\Temp\Email" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISapComm" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:88/SapComm" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISapComm" contract="RFCSap.ISapComm" name="BasicHttpBinding_ISapComm" />
    </client>
  </system.serviceModel>
</configuration>