<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

  </configSections>
  <log4net>
    
      <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
        <to value="claudemir.junior@performait.com" />
        <from value="yara@performait.com" />
        <username value="claudemir.junior@performait.com" />
        <password value="anonymous" />
        <subject value="Erro Serviço Liberação - Yara" />
        <smtpHost value="10.1.1.7" />
        <bufferSize value="512" />
        <port value="25"/>
        <lossy value="true" />
        <evaluator type="log4net.Core.LevelEvaluator">
          <threshold value="WARN"/>
        </evaluator>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
        </layout>
      </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/LiberacaoAutomaticaLogYara.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="dd-MM-yyyy"/>
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
      </layout>
    </appender>


    <logger name="YaraLog">
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
    </logger>

    <logger name="EmailLogger">
        <level value="Error" />
        <appender-ref ref="SmtpAppender" />
      </logger>

  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <add name="ConnectionYara" providerName="System.Data.SqlClient" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=Yara;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>

  <appSettings>
    <!--Tempo em Milisegundos = 2 minutos -->
    <add key="Tempo" value="120000"/>
  </appSettings>
  <!--<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>-->



  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapAtualizaBloqueio_OutBinding" />
        <binding name="SoapAtualizaBloqueio_OutBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://yarpodev01.eastus2.cloudapp.azure.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_CreditoCobranca&amp;receiverParty=&amp;receiverService=&amp;interface=SoapAtualizaBloqueio_Out&amp;interfaceNamespace=http%3A%2F%2Fcreditocobranca%2FAtualizaBloqueio"
        binding="basicHttpBinding" bindingConfiguration="SoapAtualizaBloqueio_OutBinding"
        contract="YaraSAP.SoapAtualizaBloqueio_Out" name="HTTP_Port" />
      <endpoint address="https://yarpodev01.eastus2.cloudapp.azure.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_CreditoCobranca&amp;receiverParty=&amp;receiverService=&amp;interface=SoapAtualizaBloqueio_Out&amp;interfaceNamespace=http%3A%2F%2Fcreditocobranca%2FAtualizaBloqueio"
        binding="basicHttpBinding" bindingConfiguration="SoapAtualizaBloqueio_OutBinding1"
        contract="YaraSAP.SoapAtualizaBloqueio_Out" name="HTTPS_Port" />
    </client>
  </system.serviceModel>
</configuration>
