ALTER Procedure [dbo].[spBuscaOrdemVendaProposta]
(
	@ContaClienteID UNIQUEIDENTIFIER,
	@EmpresaID CHAR(1)
)
AS
BEGIN
	SELECT
			F.ID,
			CC.Nome AS 'ClienteNome',
			EC2.Nome AS 'GerenteNome',
			EC.Nome AS 'CtcNome',
			R.Nome AS 'RepresentanteNome',
			S.Status,
			F.Total,
			F.Comentario,
			U.Nome AS Responsavel,
			F.NumeroInternoProposta
	INTO #PROPS
	FROM LiberacaoOrdemVendaFluxo L
	LEFT JOIN StatusOrdemVendas S
	ON S.ID = L.StatusOrdemVendasID
	LEFT JOIN SolicitanteFluxo F
	ON F.ID = L.SolicitanteFluxoID
	LEFT JOIN Usuario U
	ON U.ID = L.UsuarioID
	LEFT JOIN EstruturaComercial EC
	ON EC.CodigoSap = L.CodigoSap
	LEFT JOIN EstruturaComercial EC2
	ON EC2.CodigoSap = EC.Superior_CodigoSap
	LEFT JOIN dbo.ContaCliente CC
	ON CC.ID = F.ContaClienteID
	LEFT JOIN dbo.ContaCliente_Representante CCR
		ON CCR.ContaClienteID = CC.ID 
		AND CCR.CodigoSapCTC = EC.CodigoSap
		AND CCR.Ativo = 1
	LEFT JOIN dbo.Representante R
	ON R.ID = CCR.RepresentanteID
	WHERE
	--S.Status = 'EA'
	--AND
	(
		(
			CC.ID = @ContaClienteID AND F.EmpresasId = @EmpresaID
		)
		--OR
		--(
			--CC.ID = @ContaClienteID AND F.EmpresasId = @EmpresaID
			--AND
			--F.AcompanharProposta = 1
		--)
	);

	SELECT
		SF.ID,
		MIN(dr.DataRemessa) as DataEntrega
	INTO #DRS
	FROM #PROPS P
	INNER JOIN SolicitanteFluxo SF
	ON SF.ID = P.ID
	INNER JOIN OrdemVendaFluxo OVF
	ON OVF.SolicitanteFluxoID = SF.ID
	INNER JOIN DivisaoRemessa DR
	ON DR.Divisao = OVF.Divisao AND DR.ItemOrdemVendaItem = OVF.ItemOrdemVenda AND OVF.OrdemVendaNumero = DR.OrdemVendaNumero
	WHERE DR.DataRemessa IS NOT NULL
	GROUP BY SF.ID;

	SELECT
		P.*, D.DataEntrega
	FROM #PROPS P
	INNER JOIN #DRS D
	ON D.ID = P.ID;

	Drop Table #DRS
	Drop Table #PROPS
END;
