ALTER PROCEDURE [dbo].[spBuscaCockpitPropostaAlcadaComercial]
	@Usuario    UNIQUEIDENTIFIER,
    @EmpresaID  CHAR(1),
    @Acompanhar BIT
AS
BEGIN

	IF @Acompanhar = 0
	BEGIN

		SELECT 
			cc.ID as ContaClienteId,
			pac.NumeroInternoProposta AS 'NumeroInternoProposta',
			cc.Nome AS 'NomeCliente',
			ec2.Nome AS 'NomeGc',
			ec.Nome AS 'NomeCtc',
			r.Nome AS 'NomeRepresentante',
			sc.Status AS 'Status', pac.LCProposto,
			u.Nome AS 'Responsavel', pac.DataCriacao, 
            CCF.LC as LcAtual, 
            CCF.VigenciaFim as VigenciaLc 
		FROM dbo.PropostaAlcadaComercial pac
		INNER JOIN dbo.ContaCliente cc ON cc.ID = pac.ContaClienteID
		LEFT JOIN dbo.EstruturaComercial ec ON ec.CodigoSap = pac.CodigoSap
		LEFT JOIN dbo.EstruturaComercial ec2 ON ec2.CodigoSap = ec.Superior_CodigoSap
		LEFT JOIN dbo.ContaCliente_Representante ccr 
			ON ccr.ContaClienteID = cc.ID 
			AND ccr.EmpresasID = pac.EmpresaID
			AND ccr.Ativo = 1
		LEFT JOIN dbo.Representante r ON r.ID = ccr.RepresentanteID
		LEFT JOIN dbo.Usuario u ON u.ID = pac.ResponsavelID
		LEFT JOIN dbo.PropostaCobrancaStatus sc ON sc.ID = pac.PropostaCobrancaStatusID
		LEFT JOIN ContaClienteFinanceiro CCF ON (CCF.ContaClienteID = pac.ContaClienteID AND CCF.EmpresasID = pac.EmpresaID)
		WHERE pac.ResponsavelID = @Usuario
			AND pac.PropostaCobrancaStatusID NOT IN('CA','AP','RE','EN')
			AND pac.EmpresaID = @EmpresaID

	END
	ELSE
	BEGIN

		SELECT 
			cc.ID as ContaClienteId,
			pac.NumeroInternoProposta AS 'NumeroInternoProposta',
			cc.Nome AS 'NomeCliente', ec2.Nome AS 'NomeGc',
			ec.Nome AS 'NomeCtc',
			r.Nome AS 'NomeRepresentante',
			sc.Status AS 'Status',
			pac.LCProposto,
			u.Nome AS 'Responsavel',
			pac.DataCriacao, 
            CCF.LC as LcAtual, 
            CCF.VigenciaFim as VigenciaLc 
		FROM dbo.PropostaAlcadaComercial pac
		INNER JOIN dbo.ContaCliente cc ON cc.ID = pac.ContaClienteID
		LEFT JOIN dbo.EstruturaComercial ec ON ec.CodigoSap = pac.CodigoSap
		LEFT JOIN dbo.EstruturaComercial ec2 ON ec2.CodigoSap = ec.Superior_CodigoSap
		LEFT JOIN dbo.ContaCliente_Representante ccr 
			ON ccr.ContaClienteID = cc.ID 
			AND ccr.EmpresasID = pac.EmpresaID
			AND ccr.Ativo = 1
		LEFT JOIN dbo.Representante r ON r.ID = ccr.RepresentanteID
		LEFT JOIN dbo.Usuario u ON u.ID = pac.ResponsavelID
		LEFT JOIN dbo.PropostaCobrancaStatus sc ON sc.ID = pac.PropostaCobrancaStatusID
		LEFT JOIN dbo.PropostaAlcadaComercialAcompanhamento paca ON paca.PropostaAlcadaComercialID = pac.ID AND paca.Ativo = 1
		LEFT JOIN ContaClienteFinanceiro CCF ON (CCF.ContaClienteID = pac.ContaClienteID AND CCF.EmpresasID = pac.EmpresaID)
		WHERE paca.UsuarioID = @Usuario
			AND pac.PropostaCobrancaStatusID NOT IN('CA','AP','RE','EN')
			AND pac.EmpresaID = @EmpresaID

	END

END