ALTER Procedure [dbo].[spBuscaOrdemVendaCockpit]
(@USERID    UNIQUEIDENTIFIER,
 @EmpresaID CHAR(1)
)
AS
BEGIN
		   
	SELECT F.ID,
        cc.Nome AS 'ClienteNome',
        ec2.Nome AS 'GerenteNome',
        ec.Nome AS 'CtcNome',
        r.Nome AS 'RepresentanteNome',
        S.Status,
        F.Total,
        F.Comentario,
        U.Nome AS Responsavel,
	F.NumeroInternoProposta
	Into #PROPS
    FROM LiberacaoOrdemVendaFluxo L
        LEFT JOIN StatusOrdemVendas S ON S.ID = L.StatusOrdemVendasID
        LEFT JOIN SolicitanteFluxo F ON F.ID = L.SolicitanteFluxoID
        LEFT JOIN USUARIO U ON U.ID = L.UsuarioID
        LEFT JOIN dbo.EstruturaComercial ec ON ec.CodigoSap = l.CodigoSap
        LEFT JOIN dbo.EstruturaComercial ec2 ON ec2.CodigoSap = ec.Superior_CodigoSap
        LEFT JOIN dbo.ContaCliente cc ON cc.ID = f.ContaClienteID
        LEFT JOIN dbo.ContaCliente_Representante ccr 
			ON ccr.ContaClienteID = cc.ID 
			AND ccr.CodigoSapCTC = ec.CodigoSap
			AND ccr.Ativo = 1
        LEFT JOIN dbo.Representante r ON r.ID = ccr.RepresentanteID
    WHERE S.Status = 'EA'
    AND ( (L.UsuarioID = @USERID AND F.EmpresasId = @EmpresaID) OR (U.ID = @USERID And F.EmpresasId=@EmpresaID AND F.AcompanharProposta = 1) );

	Select SF.ID, min(dr.DataRemessa) as DataEntrega
	Into #DRS
	From #PROPS P
	Inner Join SolicitanteFluxo SF On (SF.ID = P.ID)
	Inner Join OrdemVendaFluxo OVF On (OVF.SolicitanteFluxoID = SF.ID)
	Inner Join DivisaoRemessa DR On (dr.Divisao = ovf.Divisao AND dr.ItemOrdemVendaItem = ovf.ItemOrdemVenda AND ovf.OrdemVendaNumero = dr.OrdemVendaNumero)
	Where DR.DataRemessa is not null
	Group By SF.ID

	Select P.*, D.DataEntrega
	From #PROPS P
	Inner Join #DRS D On (D.ID = P.ID)

	Drop Table #DRS
	Drop Table #PROPS

END;
