ALTER Procedure [dbo].[spCobranca_EfetivaPorDiretoria_Clientes]
	@EmpresaId char(1),
	@Chave varchar(10),
	@Dias int,
	@DiretoriaId varchar(10) = null
AS
BEGIN
	Set NOCOUNT On

	-- Variaveis
	Declare @DiasVencidos int
	Declare @EmpresaTitulo varchar(4)
	Declare @TiposTituloCobrancaVal varchar(max)
	Declare @ValorTotal decimal(18,9)
	Declare @StatusCobrancaIDPadrao uniqueidentifier
	Declare @MinDias int
	Declare @MaxDias int
	Declare @Aging varchar(120)
	DECLARE @CondicaoAVista varchar(max)

	-- Buscar parâmetro de condições a vista
	SELECT TOP 1 @CondicaoAVista = Valor FROM ParametroSistema WHERE Tipo = 'ordem' AND Chave = 'condicaovista' AND EmpresasID = @EmpresaID

	-- Tabelas Temporárias
	CREATE TABLE #TiposTitulosCobranca (TipoDocumento varchar(2) COLLATE DATABASE_DEFAULT)
	CREATE TABLE #Titulos (ContaClienteId uniqueidentifier, DataVencimento datetime, Valor decimal(18,9), DiretoriaId varchar(10) COLLATE DATABASE_DEFAULT, CTC varchar(10) COLLATE DATABASE_DEFAULT, StatusCobrancaID uniqueidentifier, DataAtualizacao datetime)
	CREATE TABLE #Diretorias (ContaClienteId uniqueidentifier, CTC varchar(10) COLLATE DATABASE_DEFAULT, DiretoriaId varchar(10) COLLATE DATABASE_DEFAULT, Diretoria varchar(120) COLLATE DATABASE_DEFAULT)
	CREATE TABLE #Resultado (ContaClienteID uniqueidentifier, Nome varchar(120) COLLATE DATABASE_DEFAULT, Documento varchar(120) COLLATE DATABASE_DEFAULT, Aging varchar(120) COLLATE DATABASE_DEFAULT, UltimaAtualizacao datetime, Valor decimal(18,9), Percentual decimal(13,2))

	-- Buscar Parametros de Cobrança
	Select Top 1 @DiasVencidos=IsNull(Try_Parse(Valor As int),10)
	From ParametroSistema
	Where Tipo='cobranca'
	And Chave='cdias'
	And EmpresasID = @EmpresaId

	Select Top 1 @TiposTituloCobrancaVal=IsNull(Valor,'')
	From ParametroSistema
	Where Tipo='cobranca'
	And Chave='ctipos'
	And EmpresasID = @EmpresaId

	Select Top 1 @StatusCobrancaIDPadrao=ID
	From StatusCobranca
	Where Padrao=1

	Insert Into #TiposTitulosCobranca
	Select Left(splitdata,2) as TipoDocumento
	From dbo.fnSplitString(@TiposTituloCobrancaVal, ',')

	-- Determinar Parametros de Empresas
	If @EmpresaId = 'G'
	Begin
		Set @EmpresaTitulo = 'GICS'
	End
	Else
	Begin
		Set @EmpresaTitulo = 'TRV'
	End

	If @Dias = 30
	Begin
		Set @MinDias = @DiasVencidos
		Set @MaxDias = 30
		Set @Aging = convert(varchar(3),@MinDias+1)+' - '+convert(varchar(3),@MaxDias)+' dias'
	End
	Else If @Dias = 60
	Begin
		Set @MinDias = 30
		Set @MaxDias = 60
		Set @Aging = convert(varchar(3),@MinDias+1)+' - '+convert(varchar(3),@MaxDias)+' dias'
	End
	Else If @Dias = 90
	Begin
		Set @MinDias = 60
		Set @MaxDias = 90
		Set @Aging = convert(varchar(3),@MinDias+1)+' - '+convert(varchar(3),@MaxDias)+' dias'
	End
	Else If @Dias = 180
	Begin
		Set @MinDias = 90
		Set @MaxDias = 180
		Set @Aging = convert(varchar(3),@MinDias+1)+' - '+convert(varchar(3),@MaxDias)+' dias'
	End
	Else
	Begin
		Set @MinDias = 180
		Set @MaxDias = 999999999
		Set @Aging = '> '+convert(varchar(3),@MinDias)+' dias'
	End

	Print 'Dias Vencimento Cobranca: ' + Convert(varchar(max), @DiasVencidos)
	Print 'Tipos Titulo Cobranca: ' + @TiposTituloCobrancaVal
	Print 'Empresa Cobranca: ' + @EmpresaTitulo

	-- Buscar Titulos Vencidos (Em Aberto)
	Insert Into #Titulos (ContaClienteId, DataVencimento, Valor,CTC,StatusCobrancaID, DataAtualizacao)
	Select CC.ID, T.DataVencimento, T.ValorInterno/1000000, 
	CASE T.TipoDocumento 
		WHEN 'ZC' 
		THEN (SELECT TOP 1 EstruturaComercialId FROM ContaCliente_EstruturaComercial CCE WHERE CCE.ContaClienteId = CC.ID AND CCE.EmpresasId = @EmpresaId AND CCE.Ativo = 1)
		ELSE OV.CodigoCtc
		END,	
	IsNull(T.StatusCobrancaID,@StatusCobrancaIDPadrao),
    IsNull(T.DataUltimaAtualizacao, NULL) as DataAtualizacao
	From Titulo T
	Inner Join ContaClienteCodigo CCC On (CCC.Codigo = T.CodigoCliente)
	Inner Join ContaCliente CC On (CC.ID = CCC.ContaClienteID)
	Inner Join #TiposTitulosCobranca TTC On (TTC.TipoDocumento = T.TipoDocumento)
	Inner Join StatusCobranca SC On (SC.ID = IsNull(T.StatusCobrancaID,@StatusCobrancaIDPadrao))
	Left Join OrdemVenda OV On (OV.Numero=T.OrdemVendaNumero)
	Where T.Empresa = @EmpresaTitulo
	And T.Aberto = 1
	And T.CreditoDebito='S'
	And (T.PropostaStatus <> 'J' OR T.PropostaStatus IS NULL)
	And DateDiff(Day,T.DataVencimento,getdate()) > @MinDias
	And DateDiff(Day,T.DataVencimento,getdate()) <= @MaxDias
	And SC.CobrancaEfetiva = 1
	AND T.CondPagto NOT IN (SELECT splitdata FROM dbo.fnSplitString(@CondicaoAVista, ','))

	-- Buscar Diretorias (Com CTC na OV)
	Insert Into #Diretorias (ContaClienteId, CTC, DiretoriaId)
	Select ContaClienteId, T.CTC, ED.CodigoSap
	From #Titulos T
	Inner Join EstruturaComercial EC On (EC.CodigoSap = T.CTC And EC.EstruturaComercialPapelID='C')
	Inner Join EstruturaComercial EG On (EG.CodigoSap = EC.Superior_CodigoSap And EG.EstruturaComercialPapelID='G')
	Inner Join EstruturaComercial ED On (ED.CodigoSap = EG.Superior_CodigoSap And ED.EstruturaComercialPapelID='D')

	-- Cruzar Titulos com Diretorias
	Update T Set T.DiretoriaId = IsNull(D.DiretoriaId,'')
	From #Titulos T
	Left Join #Diretorias D On  (D.ContaClienteId = T.ContaClienteId And D.CTC = T.CTC)

	If @DiretoriaId Is Not Null
	Begin
		Delete From #Diretorias Where DiretoriaId <> @DiretoriaId
		Delete From #Titulos Where DiretoriaId <> @DiretoriaId
	End

	Delete From #Diretorias Where DiretoriaId <> @Chave
	Delete From #Titulos Where DiretoriaId <> @Chave

	Select @ValorTotal = Sum(Valor)
	From #Titulos

	Insert Into #Resultado (ContaCLienteID,Nome,Documento,Aging,UltimaAtualizacao,Valor,Percentual)
	Select T.ContaClienteId,CC.Nome,CC.Documento,@Aging,Max(T.DataAtualizacao),Sum(Valor),Iif(@ValorTotal>0,((Sum(Valor)*100)/@ValorTotal),0)
	From #Titulos T
	Inner Join ContaCliente CC On (CC.ID = T.ContaClienteId)
	Group By T.ContaClienteId, CC.Nome, CC.Documento

	Select *
	From #Resultado
	Order By Percentual Desc

	-- Limpeza
	Drop Table #TiposTitulosCobranca
	Drop Table #Titulos
	Drop Table #Diretorias
	Drop Table #Resultado
END