ALTER Procedure [dbo].[spCobranca_VencidosMenosDias]
	@EmpresaId char(1),
	@DiretoriaId varchar(10) = null
As
Begin
	Set NOCOUNT On

	-- Variaveis
	Declare @DiasVencidos int
	Declare @EmpresaTitulo varchar(4)
	Declare @TiposTituloCobrancaVal varchar(max)
	Declare @ValorTotal decimal(18,9)
	Declare @StatusCobrancaIDPadrao uniqueidentifier
	DECLARE @CondicaoAVista varchar(max)

	-- Buscar parâmetro de condições a vista
	SELECT TOP 1 @CondicaoAVista = Valor FROM ParametroSistema WHERE Tipo = 'ordem' AND Chave = 'condicaovista' AND EmpresasID = @EmpresaID

	-- Tabelas Temporárias
	CREATE TABLE #TiposTitulosCobranca (TipoDocumento varchar(2) COLLATE DATABASE_DEFAULT)
	CREATE TABLE #Titulos (ContaClienteId uniqueidentifier, DataVencimento datetime, Valor decimal(18,9), DiretoriaId varchar(10) COLLATE DATABASE_DEFAULT, CTC varchar(10) COLLATE DATABASE_DEFAULT, StatusCobrancaID uniqueidentifier)
	CREATE TABLE #Diretorias (ContaClienteId uniqueidentifier, DiretoriaId varchar(10) COLLATE DATABASE_DEFAULT)
	CREATE TABLE #Resultado (ContaClienteId uniqueidentifier, Nome varchar(120) COLLATE DATABASE_DEFAULT, Vencimento datetime, Valor decimal(18,9))

	-- Buscar Parametros de Cobrança
	Select Top 1 @DiasVencidos=IsNull(Try_Parse(Valor As int),10)
	From ParametroSistema
	Where Tipo='cobranca'
	And Chave='cdias'
	And EmpresasID = @EmpresaID

	Select Top 1 @TiposTituloCobrancaVal=IsNull(Valor,'')
	From ParametroSistema
	Where Tipo='cobranca'
	And Chave='ctipos'
	And EmpresasID = @EmpresaID

	Select Top 1 @StatusCobrancaIDPadrao=ID
	From StatusCobranca
	Where Padrao=1

	Insert Into #TiposTitulosCobranca
	Select Left(splitdata,2) as TipoDocumento
	From dbo.fnSplitString(@TiposTituloCobrancaVal, ',')

	-- Determinar Parametros de Empresas
	If @EmpresaID = 'G'
	Begin
		Set @EmpresaTitulo = 'GICS'
	End
	Else
	Begin
		Set @EmpresaTitulo = 'TRV'
	End

	Print 'Dias Vencimento Cobranca: ' + Convert(varchar(max), @DiasVencidos)
	Print 'Tipos Titulo Cobranca: ' + @TiposTituloCobrancaVal
	Print 'Empresa Cobranca: ' + @EmpresaTitulo

	-- Buscar Titulos Vencidos (Em Aberto)
	Insert Into #Titulos (ContaClienteId, DataVencimento, Valor,CTC)
	Select CC.ID, T.DataVencimento, T.ValorInterno/1000000, OV.CodigoCtc
	From Titulo T
	Inner Join ContaClienteCodigo CCC On (CCC.Codigo = T.CodigoCliente)
	Inner Join ContaCliente CC On (CC.ID = CCC.ContaClienteID)
	Inner Join #TiposTitulosCobranca TTC On (TTC.TipoDocumento = T.TipoDocumento)
	Left Join OrdemVenda OV On (OV.Numero=T.OrdemVendaNumero)
	Where T.Empresa = @EmpresaTitulo
		And T.Aberto = 1
		And T.CreditoDebito='S'
		And IIF(DateDiff(Day,T.DataVencimento,getdate())>0,DateDiff(Day,T.DataVencimento,getdate()),@DiasVencidos+1) <= @DiasVencidos
		AND T.CondPagto NOT IN (SELECT splitdata FROM dbo.fnSplitString(@CondicaoAVista, ','))

	-- Buscar Diretorias (Sem CTC na OV)
	Insert Into #Diretorias (ContaClienteId, DiretoriaId)
	Select ContaClienteId, Min(ED.CodigoSap)
	From ContaCliente_EstruturaComercial CCE
	Inner Join EstruturaComercial EC On (EC.CodigoSap = CCE.EstruturaComercialId And EC.EstruturaComercialPapelID='C')
	Inner Join EstruturaComercial EG On (EG.CodigoSap = EC.Superior_CodigoSap And EG.EstruturaComercialPapelID='G')
	Inner Join EstruturaComercial ED On (ED.CodigoSap = EG.Superior_CodigoSap And ED.EstruturaComercialPapelID='D')
	Where CCE.ContaClienteId In ( Select ContaClienteId From #Titulos Where CTC is null)
		AND CCE.Ativo = 1
	Group By ContaClienteId

	-- Buscar Diretorias (Com CTC na OV)
	Insert Into #Diretorias (ContaClienteId, DiretoriaId)
	Select ContaClienteId, ED.CodigoSap
	From #Titulos T
	Inner Join EstruturaComercial EC On (EC.CodigoSap = T.CTC And EC.EstruturaComercialPapelID='C')
	Inner Join EstruturaComercial EG On (EG.CodigoSap = EC.Superior_CodigoSap And EG.EstruturaComercialPapelID='G')
	Inner Join EstruturaComercial ED On (ED.CodigoSap = EG.Superior_CodigoSap And ED.EstruturaComercialPapelID='D')

	-- Cruzar Titulos com Diretorias
	Update T Set T.DiretoriaId = IsNull(D.DiretoriaId,'')
	From #Titulos T
	Left Join #Diretorias D On (D.ContaClienteId = T.ContaClienteId)

	If @DiretoriaId Is Not Null
	Begin

		Delete From #Diretorias Where DiretoriaId <> @DiretoriaId
		Delete From #Titulos Where DiretoriaId <> @DiretoriaId

	End

	Insert Into #Resultado (ContaClienteId, Nome, Vencimento, Valor)
	Select T.ContaClienteId, C.Nome, Min(T.DataVencimento), Sum(T.Valor)
	From #Titulos T
	Inner Join ContaCliente C On (C.ID = T.ContaClienteId)
	Group By T.ContaClienteId, C.Nome

	Select * From #Resultado
	Order By Valor Desc

	-- Limpeza
	Drop Table #TiposTitulosCobranca
	Drop Table #Titulos
	Drop Table #Diretorias
	Drop Table #Resultado

End