ALTER PROCEDURE [dbo].[spUsuariosNotificacaoCockpit]
(
    @EmpresaID CHAR(1)
)
AS
BEGIN

    -- Temp Table com o layout que vai para o e-mail.
    CREATE TABLE #Propostas
    (
        ID UNIQUEIDENTIFIER NOT NULL, 
        IdProposta NVARCHAR(MAX) NOT NULL, 
        ContaClienteID UNIQUEIDENTIFIER NOT NULL, 
        CodigoPrincipal NVARCHAR(10) NOT NULL, 
        NomeCliente NVARCHAR(MAX) NOT NULL, 
        CG NVARCHAR(MAX), 
        CTC NVARCHAR(MAX), 
        Valor DECIMAL(18, 2) NOT NULL, 
        [Status] NVARCHAR(MAX) NOT NULL, 
        Leadtime int, 
        ResponsavelID UNIQUEIDENTIFIER NOT NULL, 
        Responsavel NVARCHAR(MAX) NOT NULL, 
        EmailResponsavel NVARCHAR(MAX) NOT NULL, 
        Interacao NVARCHAR(MAX) NOT NULL 
    );

    -- Propostas de Crédito
	INSERT INTO #Propostas
    SELECT DISTINCT
		P.ID,
		IIF(P.Ecomm = 1, 'EC', 'LC') + RIGHT(REPLICATE('0',5) + CONVERT(VARCHAR(MAX),P.NumeroInternoProposta),5) +'/' + CONVERT(VARCHAR,YEAR(P.DataCriacao)) AS IdProposta, 
		CC.ID AS ContaClienteID, 
		CC.CodigoPrincipal AS CodigoPrincipal, 
		CC.Nome AS NomeCliente,
		G.Nome AS GC,
		C.Nome AS CTC, 
		IsNull(P.LCProposto, 0) AS Valor, 
		S.Nome AS [Status], 
		LTPLC.LeadTime,
		U.ID AS ResponsavelID,
		U.Nome AS Responsavel,
		U.Email AS EmailResponsavel,
		'Propostas de Crédito' As Interacao
    FROM PropostaLC P 
    INNER JOIN PropostaLCStatus S ON (S.ID = P.PropostaLCStatusID) 
    INNER JOIN ContaCliente CC ON (CC.ID = P.ContaClienteID)
    INNER JOIN Usuario U ON (U.ID = P.ResponsavelID)
    LEFT JOIN ContaClienteCodigo ccc ON (ccc.ContaClienteID = cc.ID)
    LEFT JOIN EstruturaComercial C ON (C.CodigoSap = P.CodigoSap) 
    LEFT JOIN EstruturaComercial G ON (G.CodigoSap = C.Superior_CodigoSap) 
    LEFT JOIN EstruturaComercial D ON (D.CodigoSap = G.Superior_CodigoSap)
	CROSS APPLY ( SELECT LeadTime FROM dbo.fnLeadTimePropostaLC(P.ID, P.PropostaLCStatusID) ) LTPLC
    WHERE P.EmpresaID = @EmpresaID 
      AND PropostaLCStatusID NOT IN('AA','XE','XR')
	 
    -- Propostas de Crédito Adicional
	INSERT INTO #Propostas
    SELECT DISTINCT
        P.ID, 
        'LA' + RIGHT(REPLICATE('0',5) + CONVERT(VARCHAR(MAX),P.NumeroInternoProposta),5) + '/' + CONVERT(VARCHAR,YEAR(P.DataCriacao)) As IdProposta, 
        P.ContaClienteID, 
		C.CodigoPrincipal AS CodigoPrincipal, 
        C.Nome As NomeCliente, 
		G.Nome As GC, 
		EC.Nome As CTC, 
		IsNull(P.LCAdicional, 0) AS Valor, 
        S.Nome As Status, 
		dbo.LeadtimePropostaLCAdicional(P.ID) as Leadtime, 
		U.ID AS ResponsavelID, 
		U.Nome AS Responsavel, 
		U.Email AS EmailResponsavel, 
        'Propostas de Crédito Adicional' As Interacao 
    FROM PropostaLCAdicional P 
    INNER JOIN ContaCliente C ON (C.ID = P.ContaClienteID) 
    INNER JOIN PropostaLCStatus S ON (S.ID = P.PropostaLCStatusID) 
    INNER JOIN EstruturaComercial EC ON (EC.codigosap = P.codigosap) 
    INNER JOIN EstruturaComercial G ON (G.codigosap = EC.superior_codigosap) 
    INNER JOIN EstruturaComercial D ON (D.codigosap = G.superior_codigosap) 
    INNER JOIN Usuario U ON (U.ID = P.ResponsavelID) 
    WHERE P.EmpresaID = @EmpresaID 
      AND P.PropostaLCStatusID NOT IN('AA','XE','XR') 
    
    -- Propostas de Alçada Comercial
    INSERT INTO #Propostas
	SELECT DISTINCT
		pac.ID,
		'AC' + RIGHT(REPLICATE('0',5) + CONVERT(VARCHAR(MAX),pac.NumeroInternoProposta),5) +'/' + CONVERT(VARCHAR,YEAR(pac.DataCriacao)) AS IdProposta, 
		cc.ID AS ContaClienteID,
		cc.CodigoPrincipal AS CodigoPrincipal, 
		cc.Nome AS NomeCliente,
		ec2.Nome AS CG, 
		ec.Nome AS CTC, 
		IsNull(pac.LCProposto, 0) AS Valor,
		sc.[Status] AS [Status],
		0 as Leadtime, 
		u.ID AS ResponsavelID,
		u.Nome AS Responsavel,
		u.Email AS EmailResponsavel,
		'Propostas de Alçada Comercial' As Interacao
    FROM PropostaAlcadaComercial pac
    INNER JOIN ContaCliente cc ON (cc.ID = pac.ContaClienteID)
    INNER JOIN Usuario u ON (u.ID = pac.ResponsavelID)
    LEFT JOIN EstruturaComercial ec ON (ec.CodigoSap = pac.CodigoSap)
    LEFT JOIN EstruturaComercial ec2 ON (ec2.CodigoSap = ec.Superior_CodigoSap)
    LEFT JOIN PropostaCobrancaStatus sc ON (sc.ID = pac.PropostaCobrancaStatusID)
    WHERE pac.EmpresaID = @EmpresaID 
      And pac.PropostaCobrancaStatusID NOT IN('CA','AP','RE','EN')
	  
    -- Renovação de Vigência de LC
    INSERT INTO #Propostas
    SELECT DISTINCT
        PRV.ID,
		'RV' + RIGHT(REPLICATE('0',5) + CONVERT(VARCHAR(MAX),PRV.NumeroInternoProposta),5) +'/' + CONVERT(VARCHAR,YEAR(PRV.DataCriacao)) AS IdProposta, 
		cc.ID AS ContaClienteID,
		cc.CodigoPrincipal AS CodigoPrincipal, 
		cc.Nome AS NomeCliente,
		'' as CG, 
		'' as CTC, 
		PRV.Montante as Valor,
        PLCS.Nome AS Status,
		0 as Leadtime, 
		U.ID AS ResponsavelID,
		U.Nome AS Responsavel,
		U.Email AS EmailResponsavel,
		'Propostas de Renovação de Vigência de LC' As Interacao
    FROM PropostaRenovacaoVigenciaLC PRV
    INNER JOIN PropostaLCStatus PLCS ON (PLCS.ID = PRV.PropostaLCStatusID)
    INNER JOIN Usuario U ON (U.ID = PRV.ResponsavelID)
	INNER JOIN PropostaRenovacaoVigenciaLCCliente PRVC ON (PRVC.PropostaRenovacaoVigenciaLCID = PRV.ID)
	INNER JOIN ContaCliente cc ON (cc.ID = PRVC.ContaClienteID)
    WHERE PRV.EmpresaID = @EmpresaID 
      AND PRV.PropostaLCStatusID NOT IN ('AA', 'XE', 'XR')

    -- Propostas de Abono
	INSERT INTO #Propostas
    SELECT DISTINCT
        A.ID, 
		'A' + RIGHT(REPLICATE('0',5) + CONVERT(VARCHAR(MAX), A.NumeroInternoProposta),5) +'/' + CONVERT(VARCHAR,YEAR(A.DataCriacao)) AS IdProposta, 
		A.ContaClienteID, 
		C.CodigoPrincipal AS CodigoPrincipal,
		C.Nome AS NomeCliente, 
		'' as CG, 
		'' as CTC, 
		A.ValorTotalDocumento AS Valor,
        S.Status,
		0 as Leadtime, 
		U.ID AS ResponsavelID,
		U.Nome AS Responsavel,
		U.Email AS EmailResponsavel,
		'Propostas de Abono' As Interacao
    FROM PropostaAbono A
    LEFT JOIN MotivoAbono M ON (M.ID = A.MotivoAbonoID)
    INNER JOIN ContaCliente C ON (C.ID = A.ContaClienteID)
    INNER JOIN PropostaCobrancaStatus S ON (S.ID = a.PropostaCobrancaStatusID)
	INNER JOIN Usuario U ON (U.ID = A.ResponsavelID)
    WHERE A.EmpresaID = @EmpresaID
      AND A.PropostaCobrancaStatusID NOT IN('RE', 'CA', 'AP', 'AA')

    -- Proposta Prorrogacao
	INSERT INTO #Propostas
	SELECT DISTINCT
        P.ID,
		'PP' + RIGHT(REPLICATE('0',5) + CONVERT(VARCHAR(MAX), P.NumeroInternoProposta),5) +'/' + CONVERT(VARCHAR,YEAR(P.DataCriacao)) AS IdProposta, 
        P.ContaClienteID,
		c.CodigoPrincipal AS CodigoPrincipal, 
		C.Nome AS NomeCliente, 
		'' as CG, 
		'' as CTC, 
		ISNULL(P.ValorProrrogado, 0) AS Valor,
		S.[Status] AS [Status],
		0 as Leadtime, 
		P.ResponsavelID AS ResponsavelID,
		U.Nome AS Responsavel,        
		U.Email AS EmailResponsavel,
		'Propostas de Prorrogação' AS Interacao
    FROM PropostaProrrogacao P
    INNER JOIN MotivoProrrogacao M ON (M.ID = P.MotivoProrrogacaoID) 
    INNER JOIN OrigemRecurso O ON (O.ID = P.OrigemRecursoID) 
    INNER JOIN ContaCliente C ON (C.ID = P.ContaClienteID)
    INNER JOIN PropostaCobrancaStatus S ON (S.ID = P.PropostaCobrancaStatusID)
	INNER JOIN Usuario U on (U.ID = P.ResponsavelID)
    WHERE P.EmpresaID = @EmpresaID 
	  AND P.PropostaCobrancaStatusID NOT IN('RE','CA','AP')

    -- Retorno
    Select 
		prop.ID as PropostaId,
		prop.IdProposta,
        prop.ContaClienteID as ContaClienteId,
		prop.CodigoPrincipal, 
		prop.NomeCliente, 
		prop.CG, 
		prop.CTC, 
		ISNULL((select 1 from ContaClienteFinanceiro ccf where ccf.ContaClienteID = prop.ContaClienteID and ccf.Vigencia = null), 0) as ClienteNovo,
		ISNULL((select 1 from HistoricoContaCliente hc where hc.ContaClienteID = prop.ContaClienteID and hc.Ano = YEAR(GETDATE())), 0) AS Atrasos,
		ISNULL(prop.Valor, 0) as Valor, 
		ISNULL((SELECT ccf.LC FROM ContaClienteFinanceiro ccf where ccf.EmpresasID = 'Y' AND  ccf.ContaClienteID = prop.ContaClienteID), 0) as LCAtual,
		(SELECT ccf.VigenciaFim FROM ContaClienteFinanceiro ccf where ccf.EmpresasID = 'Y' AND  ccf.ContaClienteID = prop.ContaClienteID) as VigenciaLC,
		prop.[Status],
		prop.ResponsavelID as ResponsavelId,
		prop.Responsavel,        
		prop.EmailResponsavel,
		prop.Interacao,
		prop.Leadtime
    From #Propostas prop
    Order By Responsavel, Interacao, IdProposta

    -- Limpeza
    DROP TABLE #Propostas

END