ALTER Procedure [dbo].[spVerificaAcessoCliente]
	@pContaClienteId uniqueidentifier,
	@pUsuarioId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

	Create Table #AcessoClientes (ContaClienteID uniqueidentifier)

	Declare @IdPerfil uniqueidentifier
	Declare @FiltrarClientes bit

	Set @FiltrarClientes = 0
	
	Select Top 1 @IdPerfil = P.Id
	From EstruturaPerfilUsuario EPUL
	Inner Join Perfil P On (P.ID = EPUL.PerfilId)
	Where EPUL.UsuarioId=@pUsuarioId
	Order By P.Ordem Desc

	-- CTCs
	If @IdPerfil = '5F552012-6956-49C8-8A5B-61436BF75A3E' -- Id do Perfil CTC
	Begin

		Set @FiltrarClientes = 1
			
		IF Exists(
			Select 1
			From EstruturaPerfilUsuario EPU
			Inner Join EstruturaComercial EC On (EC.EstruturaComercialPapelID = 'C' And EC.CodigoSap = EPU.CodigoSap)
			Inner Join ContaCliente_EstruturaComercial CCE On (CCE.EstruturaComercialId = EC.CodigoSap)
			Where EPU.UsuarioId = @pUsuarioId
			And EPU.PerfilId = @IdPerfil
			And CCE.ContaClienteID=@pContaClienteId
			AND CCE.Ativo = 1
			)
		Begin
			Select convert(bit,1) as Resultado
			Return			
		End

	End

	-- Representantes
	If Exists(Select 1 From Usuario_Representante URX Where URX.UsuarioID=@pUsuarioId)
	Begin

		Set @FiltrarClientes = 1
			
		IF Exists(
			Select 1
			From Usuario_Representante UR
			Inner Join ContaCliente_Representante CCR ON (CCR.RepresentanteID = UR.RepresentanteID)
			Where UR.UsuarioId = @pUsuarioId
			And CCR.ContaClienteID=@pContaClienteId
			AND CCR.Ativo = 1
		)
		Begin
			Select convert(bit,1) as Resultado
			Return			
		End

	End

	If @FiltrarClientes = 0
	Begin
		Select convert(bit,1) as Resultado
		Return
	End

	Select convert(bit,0) as Resultado

END
